@import url('https://googleapis.com');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h-h1 {
    font-family: "Orbitron", sans-serif !important;
    font-weight: 700;
    font-size: 2.3rem;
    color: #A81A1A;
    margin-bottom: 20px;
}

.h-h2 {
    font-family: "Orbitron", sans-serif !important;
    font-weight: 600;
    font-size: 2.3rem;
    width: 90%;
    line-height: 1.2;
    color: #333;
    margin-top: 5px;
    margin-bottom: 20px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    background-color: #fff;
    color: #333;
    border: none;
}

.inner-s {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
}

.btn {
    padding: 20px 25px;
    border-radius: 10px;
    font-weight: 400;
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn:hover {
    background-color: #A81A1A;
}